In [1]:
a = 10

In [2]:
a

10

In [3]:
b = -7

In [4]:
a + b

3

In [5]:
c = "X"

In [6]:
c

'X'

In [7]:
a + c

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [8]:
a*c

'XXXXXXXXXX'

In [9]:
result = a * c

In [10]:
result

'XXXXXXXXXX'

In [11]:
flag = True

In [12]:
flag

True

In [13]:
my_list = [1, 2.5, "my_name", [1, 2, 3, 4, 5, 6], True]

In [14]:
my_list

[1, 2.5, 'my_name', [1, 2, 3, 4, 5, 6], True]

In [15]:
student = {"roll_number": 10, 
           "name": "Prof X", 
           "age": 50,
           "gender": "Male", 
           "Total Marks": 75}

In [16]:
student

{'Total Marks': 75,
 'age': 50,
 'gender': 'Male',
 'name': 'Prof X',
 'roll_number': 10}

In [17]:
student_list = {"roll_number": [10, 11], 
           "name": "Prof X", 
           "age": 50,
           "gender": "Male", 
           "Total Marks": 75}

In [18]:
student_list

{'Total Marks': 75,
 'age': 50,
 'gender': 'Male',
 'name': 'Prof X',
 'roll_number': [10, 11]}

In [19]:
first_tuple = (1, 2.5, "my_name", [1, 2, 3, 4, 5, 6], True)

In [20]:
first_tuple

(1, 2.5, 'my_name', [1, 2, 3, 4, 5, 6], True)

In [21]:
second_tuple = 1, 2.5, "my_name", [1, 2, 3, 4, 5, 6], True

In [22]:
second_tuple

(1, 2.5, 'my_name', [1, 2, 3, 4, 5, 6], True)

In [23]:
int('A', 16)

10